*:before,
*:after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    vertical-align: baseline;
}

html,
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: #3a3a3a;
    background: #ffffff;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

input[type='submit'],
button {
    cursor: pointer;
    display: inline-block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
